/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* these classes is to manipulate the predefined bootstrap css class */
.navbar-default .navbar-nav > li > a:hover{
  color: #428bca !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: rgb(229, 242, 255);
}

@media screen and (max-width: 768px) {
  .navbar-nav .open .dropdown-menu > li > a:hover
  {
    background-color: rgb(229, 242, 255) !important;
  }
}


.cityNameDisplaye:hover{
    background-color: transparent; !important;
}

.cityPostCount{
  margin-left: -8%;
}

@media screen and (max-width: 768px) {
    .cityPostCount
    {
      margin-left: 0;
    }
}

.postRequestBtn{
  margin-top: -7%;
}

@media screen and (max-width: 768px) {
    .postRequestBtn
    {
      margin-top: 0;
    }
}

.defaultButton
{
  height: 2.142em;
  min-width: 6em;
  font-family: "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol","HelveticaNeue-Medium", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  font-size: 100%;
  background-color: #0072C6;
  color: #fff;
  padding: 3px 12px 5px;
  border: 0px;
}

.defaultButton:hover
{
  background-color: #1E82CC;
}

.rightAllignBtn{
  margin: 3%;
  float: right;
}

.genderRadio{
  margin-left: 2% !important;
}

.signinLabel{
  margin-top: 5%;
  margin-left: 2%;
}

.searchPanel{
  width: 19%;
  float: left;
  border-right: 1px solid #dddddd;
  border-radius: 5px;
}

.postsPanel{
  width: 65%;
  /*margin-left: 2%;*/
  margin-right: 2%;
  float: left;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  padding-left: 2%;
  padding-right: 2%;
}

.addsPanel{
  width: 19%;
  float: left;
  border-left: 1px solid #dddddd;
  border-radius: 5px;
}

.userNameText{
  margin-left: 1px;
}

.bs-sidenav{
  /*margin-top: 30px;
  margin-bottom: 30px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  /*background-color: #f7f5fa;*/
  /*border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;*/
  border-radius: 2px;
}

.cursorPointer{
  cursor:pointer
}

.whiteBackground
{
  background: white !important;
}